/* * Customizing tufte.css * */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

@charset "UTF-8";

/* Tufte CSS styles */

html {
	font-size: 12px;
}

body {
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	font-weight: lighter;
	background-color: #fefefe;
	color: #222;
	counter-reset: li;
	font-size: 15px;
}

h1.title {
	font-weight: 400;
	font-variant: small-caps;
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	color: #522700;
}

h1 {
	font-style: normal;
	font-variant: small-caps;
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	color: #522700;
}

h2 {
	font-style: normal;
	font-variant: small-caps;
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	font-weight: 400;
	color: #522700;
}

h3.subtitle {
	font-style: normal;
	font-variant: small-caps;
	color: #522700;
}

h3 {
	font-style: normal;
	font-variant: small-caps;
	color: #522700;
}

h4 {
	font-style: normal;
	font-variant: small-caps;
	font-weight: 200;
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 0;
	line-height: 1;
}

h4.author,
h4.date {
	/*!font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
  font-family:'Trebuchet MS', sans-serif;
	font-weight: 200;
	font-variant: small-caps;
}

.numeral {
	font-family: "Source Sans Pro";
	font-weight: 200;
}

em {
	font-style: italic;
	font-weight: 300;
	font-family: "Source Sans Pro";
}

strong {
	font-style: bold;
	font-weight: 600;
	font-family: "Source Sans Pro";
}

/* Code formatting */

@media screen and (max-width: 760px) {
	pre {
		width: 100%;
		font-size: 16px;
	}
}

code {
	font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
}

pre code {
	font-size: 15px;
}

.marginnote code,
.sidenote code {
	font-size: 1rem;
}

pre {
		width: 100%;
		font-size: 16px;
		overflow-x: auto;
}

/* Exercise counter */

ol {
	/* Remove the default left padding */
	padding-left: 3;
}

ol>li {
	/* Create a positioning context */
	position: relative;
	/* Disable the normal item numbering */
	list-style: none;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 90px;
}

ol>li:before {
	/* Use the counter as content */
	content: "Exercise " counter(li)". " ;
	/* Increment the counter by 1 */
	counter-increment: li;
	position: absolute;
	color: #522700;
	left: -12px;
	font-weight: normal;
}

ol ol {
	counter-reset: subitem;
}

a, a:hover, a:focus {
  color: #AF5500;
}

.tocify {
  font-variant: small-caps;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #AF5500;
}
